In [122]:
import pandas as pd 
from sklearn.model_selection import train_test_split 
from sklearn.preprocessing import StandardScaler,LabelEncoder
import pickle

In [123]:
data=pd.read_csv("Churn_Modelling.csv")
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [124]:
## Preprocess the data 
## Drop irrelavant columns

data=data.drop(['RowNumber','CustomerId','Surname'],axis=1)

In [125]:
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [126]:
## Encode categorical varaiables 

label_encoder_gender=LabelEncoder()
data['Gender']=label_encoder_gender.fit_transform(data['Gender'])
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [127]:
label_encoder_gender.transform(['Male'])[0]

1

In [128]:
## One hot Geopgraphy Column 

from sklearn.preprocessing import OneHotEncoder 

one_hot_encoder_geo=OneHotEncoder()
geo_encoder=one_hot_encoder_geo.fit_transform(data[['Geography']])
geo_encoder

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 10000 stored elements and shape (10000, 3)>

In [129]:
one_hot_encoder_geo.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [130]:
geo_encoded_df=pd.DataFrame(geo_encoder.toarray(),columns=one_hot_encoder_geo.get_feature_names_out(['Geography']))

In [104]:
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [131]:
## Combine one hot encoded columns 

data=pd.concat([data.drop('Geography',axis=1),geo_encoded_df],axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [132]:
### Save the encoders and sscaler

with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)
with open('one_hot_encoder_geo.pkl','wb') as file:
    pickle.dump(one_hot_encoder_geo,file)

In [133]:
## Devide dataset into independent and dependent features 

X=data.drop('Exited',axis=1)
y=data['Exited']

In [134]:
X

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,1.0,0.0,0.0

In [135]:
## Split the data in training and testing sets

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

## Scale these featuers 
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.fit_transform(X_test)

In [110]:
X_test

array([[-5.12501721e-01,  9.09111664e-01, -6.77299309e-01, ...,
        -1.02020406e+00,  1.73668197e+00, -5.63491843e-01],
       [-2.36046598e-01,  9.09111664e-01,  3.84298354e-01, ...,
         9.80196059e-01, -5.75810666e-01, -5.63491843e-01],
       [-4.61306328e-01, -1.09997489e+00,  4.80807232e-01, ...,
        -1.02020406e+00, -5.75810666e-01,  1.77464858e+00],
       ...,
       [ 8.59534812e-01, -1.09997489e+00,  7.70333868e-01, ...,
         9.80196059e-01, -5.75810666e-01, -5.63491843e-01],
       [ 4.70449825e-01,  9.09111664e-01, -9.66825944e-01, ...,
         9.80196059e-01, -5.75810666e-01, -5.63491843e-01],
       [-1.84851205e-01,  9.09111664e-01, -1.73715981e-03, ...,
        -1.02020406e+00,  1.73668197e+00, -5.63491843e-01]])

In [136]:
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

In [138]:
import tensorflow as tf 
from tensorflow.keras.models import Sequential 
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard 

import datetime

In [139]:
X_train.shape

(8000, 12)

In [140]:
## Build our model 

model=Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)), ## Hidden layer 1 connected with input layer
    Dense(32,activation='relu'),## HL2 
    Dense(1,activation='sigmoid') ## output layer
])

In [141]:
model.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_9 (Dense)             (None, 64)                832

 dense_10 (Dense)            (None, 32)                2080

 dense_11 (Dense)            (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [142]:
import tensorflow 
opt=tensorflow.keras.optimizers.Adam(learning_rate=0.01)
loss=tensorflow.keras.losses.BinaryCrossentropy()

In [143]:
## compile the model 
model.compile(optimizer=opt,loss=loss,metrics=['accuracy'])

In [144]:
## Set Up TensorBoard 

log_dir="logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback=TensorBoard(log_dir=log_dirs,histogram_freq=1)

In [145]:
## Set Up Early Stopping 
early_stopping_callback=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [146]:
## Train the model 

history=model.fit(
    X_train,y_train,validation_data=(X_test,y_test),epochs=100,callbacks=[tensorflow_callback,early_stopping_callback]
)

Epoch 1/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3976 - accuracy: 0.8320 - val_loss: 0.3550 - val_accuracy: 0.8535
Epoch 2/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3539 - accuracy: 0.8572 - val_loss: 0.3475 - val_accuracy: 0.8525
Epoch 3/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3470 - accuracy: 0.8593 - val_loss: 0.3401 - val_accuracy: 0.8590
Epoch 4/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3438 - accuracy: 0.8591 - val_loss: 0.3405 - val_accuracy: 0.8615
Epoch 5/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3394 - accuracy: 0.8606 - val_loss: 0.3392 - val_accuracy: 0.8550
Epoch 6/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3408 - accuracy: 0.8586 - val_loss: 0.3468 - val_accuracy: 0.8585
Epoch 7/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3366 - accuracy: 0.8640 - val_loss: 0.3474 - val_accuracy: 0.8600
Epoch 8/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3326 - accuracy: 0.8604 - val_loss: 0.3398 - val_accuracy: 0.8590
Epoch 9/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3302 - accuracy: 0.8648 - val_loss: 0.3521 - val_accuracy: 0.8565
Epoch 10/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3311 - accuracy: 0.8649 - val_loss: 0.3357 - val_accuracy: 0.8630
Epoch 11/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3262 - accuracy: 0.8655 - val_loss: 0.3360 - val_accuracy: 0.8570
Epoch 12/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3235 - accuracy: 0.8666 - val_loss: 0.3402 - val_accuracy: 0.8585
Epoch 13/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3231 - accuracy: 0.8621 - val_loss: 0.3509 - val_accuracy: 0.8580
Epoch 14/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3227 - accuracy: 0.8687 - val_loss: 0.3503 - val_accuracy: 0.8640
Epoch 15/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3202 - accuracy: 0.8674 - val_loss: 0.3549 - val_accuracy: 0.8560
Epoch 16/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3156 - accuracy: 0.8683 - val_loss: 0.3508 - val_accuracy: 0.8545
Epoch 17/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3136 - accuracy: 0.8686 - val_loss: 0.3498 - val_accuracy: 0.8615
Epoch 18/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3126 - accuracy: 0.8702 - val_loss: 0.3618 - val_accuracy: 0.8570
Epoch 19/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3105 - accuracy: 0.8710 - val_loss: 0.3502 - val_accuracy: 0.8610
Epoch 20/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3060 - accuracy: 0.8716 - val_loss: 0.3550 - val_accuracy: 0.8610

In [147]:
model.save('model.h5')

c:\Users\Mohammed Roshan\Generative_AI_Course\ANN_Classfication\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [148]:
## Load TensorBoard Extension
%reload_ext tensorboard

In [149]:
import os
os.environ['TENSORBOARD_BINARY'] = r"C:\Users\Mohammed Roshan\Generative_AI_Course\ANN_Classfication\venv\Scripts\tensorboard.exe"

In [150]:
%tensorboard --logdir logs/fit

Reusing TensorBoard on port 6007 (pid 8848), started 2 days, 5:33:12 ago. (Use '!kill 8848' to kill it.)

In [ ]:
## Load Pickle File